# Ignore VIS folder completely
VIS/

# Ignore numpy arrays
*.npy

# Ignore python cache & notebook checkpoints
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints

# Ignore archives
*.zip
*.tar
*.tar.gz
*.rar

# ================================
# Ignore all .pth inside checkpoint/
# ================================
checkpoint/*.pth

# ================================
# Ignore all .pth in root,
# except finetuned_final_drop_0.6.pth
# ================================
*.pth
!finetuned_final_drop_0.6.pth

# Keep important files
!*.py
!*.ipynb
!requirements.txt
!README.md
